body{
  background-color: rgb(173, 104, 236);
}
nav {
    background-color: rgb(130, 57, 199);
    
}
footer {
    background-color: rgb(130, 57, 199);
    
}

.navbar-tabs{
    padding-top: 20px;
    
}

.navbar-tabs h1{
    color: white;
    font-weight: bold;
}
.navbar-tabs p{
    color: white;
    margin-left: 20%;
    margin-right: 20%;
}

.navbar-tabs button{
    background-color: rgb(173, 104, 236);
}
.navbar-tabs .aboutus{
  width: 200px;
  height: 200px;
  
}

.tentangkami{
  min-height: 1000px;
  padding-top: 20px;
  
}

.tentangkami h1{
  color: white;
  font-weight: bold;
  margin-bottom: 4%;
  
}
.tentangkami h4, h5{
  color: white;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tentangkami p{
  color: white;
  
  text-align: left;
  
  
}

.tentangkami button{
  background-color: rgb(173, 104, 236);
}
.tentangkami .aboutus{
width: 60%;
height: 50%;
margin-right: 1%;
float: left;

}



.nav-item{
    font-weight: bold;
    
}
.nav-item .nav-link{
    font-weight: bold;
    
}
.pembelian{
    background-color: rgb(173, 104, 236);
}

.card-harga{
    
    background-color:   rgb(52, 35, 68);
    border-color: rgb(255, 255, 255);
    color: white;
    
}
.card-harga .card-title{
    
    font-weight: bold;
    font-size: 30px;
    
}

.card-harga p{
    font-size: 20px;
}

.card-harga .card-text{
    font-weight: bold;
}

.card-harga h1{
color: rgb(0, 255, 221);
}

.card-harga a{
    border-radius: 20px;
        
}
.tab-content-produk1{
  margin-left: -140px;
}
.tab-content-produk1 .icon-span{
  float: right; 
  color: white;
}
.tab-content-botol{
 margin-left: 30px;
}
.tab-content-produk2{
  margin-right: -90px;
}

.tab-content-produk1 li{
list-style: none;
margin-bottom: 12em;
}


.tab-content-produk1 .content-produk{
  text-align: right; 
  color:white;
}


.tab-content-produk2 li{
list-style: none;
margin-bottom: 12em;
}
.tab-content-produk2 .content-produk2{
  text-align: left; color:white;

}
.tab-content-produk2 .icon-span2{
float: left;
color: white;
}

.demo-produk{
    min-height: 10em;
}
.card-produk .card{
    height: 400px;
} 
.tab-content-manfaat{
  margin-top: 5%;
  
}
.tab-content-manfaat .icon-span3{
  float: left;
  color: white;
}

.tab-content-manfaat .content-produk3{
  text-align: left; 
  color:white;
}
.tab-content-manfaat li{
  list-style: none;
  margin-bottom: 6em;
  }

  .text-tambahan{
    text-align: left;
    color: white;
    margin-top: -6%;
    
  }


  .text-tambahan h4{
    margin-left: 10%;
  }
  .text-tambahan p{
    margin-left: 10%;
  }

 /* .carousel{
   
  
 } */
 .carousel-content{
   padding-top: 6%; 
   min-width: 99.9%;
  
 }

 .carousel-content .text{
  
  text-align: left;
  
 
   
 }
 .carousel-content-legalitas .row{
   
   padding: 11%;
  
 }


 /* .testimoni-content{

 } */

 .content-testimoni{
   
   padding-top: 3%;
   padding-bottom: 3%;
   
 }

 .testimoni-content h1{
  padding-top: 2%; 
  color: white;
   margin-bottom: -295px
 }

 .content-testimoni .card{
   margin: 2%;
 }

 .testimoni-content-page{
   margin-top: 5%;
 }

 .testimoni-content-page .content-atas{
   margin-bottom: -23%;
 }

 .popup-wa{
  position: fixed; 
  right: 20px; 
  bottom: 20px;
 }
 
 .popup-wa i{
   color: #32C03C;
 }

 

.join a{

  border-radius: 20px;
}

.join{
  background-color: rgb(52, 35, 68);
}



 



  
 

@media (min-width: 375px) {
   .demo-produk iframe{
       width: 100%;
       height: 100%;
   }
   .card-produk .card{
    height: 250px;
}
.tab-content-produk1{
  margin-left: -10%;

}
.tab-content-produk1 li{
  margin-bottom: 5em;
}
.tab-content-produk1 .content-produk{
  color: white;
  text-align: left;
  

}
.content-produk p{
  margin-left: 37%;
  margin-right: -15%;

}
.tab-content-produk1 .icon-span{
  float: left;
  font-size: 40px;
}
.tab-content-botol {
margin-top: -15%;
}
.tab-content-botol img{
width: 90%;
}
.tab-content-produk2{
 margin-top: 10%;
 margin-left: -10%;
}
.tab-content-produk2 p{
margin-left: 39%;
margin-right: -15%;
}
.tab-content-produk2 li{
 margin-bottom: 5em;
}
.tab-content-produk2 .icon-span2{

font-size: 40px;
}
.content-produk2 h4{

margin-right: -15%;

}
.content-produk2 p{
margin-left: 32%;
margin-right: -15%;

}

.card-harga{
  margin-bottom: 2em;
}

.demo-produk iframe{
 width: 100%;
 height: 100%;
}
.card-produk .card{
height: 250px;
}
.content-produk3 p{

margin-left: 32%;
}
.tab-content-manfaat{
margin-bottom: 10%;
}
.tab-content-manfaat .icon-span3{
font-size: 40px;
}
.content-botol img{
  height: 90%;
}
.carousel-content{
  padding-top: 20%; 
  width: 100%;
  margin-bottom: -7%;
 
}

.carousel-content .btn{
     
  border-radius: 20px;
  
   
 }
  .content-testimoni{
      margin-top: 20%;
      padding-top: 3%;
      padding-bottom: 3%;
      
    }
    .content-testimoni h1{
     font-size: 30px;
     
    }

    .testimoni-content {
      padding-top: 18%;
       }
      .testimoni-content h1{
        padding-top: 2%; 
        color: white;
        margin-bottom: 1%;
        margin-bottom: -50px;
        
       }

       .tentangkami{
        min-height: 1200px;
        padding-top: 60px;
        
      }
      
      .tentangkami h1{
        color: white;
        font-weight: bold;
        
      }
      .tentangkami h4, h5{
        color: white;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
      .tentangkami p{
        color: white;
        
        text-align: left;
        
        
      }
      
      .tentangkami button{
        background-color: rgb(173, 104, 236);
      }
      .tentangkami .aboutus{
      width: 100%;
      height:65%;
      margin-right: 1%;
      float: none;
      
      }
  }
@media (min-width: 411px) {
    .tab-content-produk1{
        margin-left: -10%;

      }
      .tab-content-produk1 li{
        margin-bottom: 5em;
      }
      .tab-content-produk1 .content-produk{
        color: white;
        text-align: left;
        
      
      }
      .content-produk p{
        margin-left: 20%;
        margin-right: -15%;

      }
      .tab-content-produk1 .icon-span{
        float: left;
        font-size: 40px;
      }
      .tab-content-botol {
    margin-top: -15%;
    }
    .tab-content-botol img{
      width: 90%;
    }
    .tab-content-produk2{
       margin-top: 10%;
       margin-left: -10%;
    }
    .tab-content-produk2 p{
      margin-left: 39%;
      margin-right: -15%;
    }
    .tab-content-produk2 li{
       margin-bottom: 5em;
    }
    .tab-content-produk2 .icon-span2{
      
      font-size: 40px;
    }
    .content-produk2 h4{
      
      margin-right: -15%;

    }
    .content-produk2 p{
      margin-left: 32%;
      margin-right: -15%;

    }

    .card-harga{
        margin-bottom: 2em;
    }
      
   .demo-produk iframe{
       width: 100%;
       height: 100%;
   }
   .card-produk .card{
    height: 250px;
    }
    .content-produk3 p{

      margin-left: 32%;
    }
    .tab-content-manfaat{
      margin-bottom: 10%;
    }
    .tab-content-manfaat .icon-span3{
      font-size: 40px;
    }
    .carousel-content{
      padding-top: 20%; 
      
     
    }
    .carousel-content .text{
      padding-left: 10%;
      text-align: center;
      

     }
     .carousel-content h1{
      
      font-size: 30px;
      
       
     }
     .carousel-content p{
      padding-left: 5%;
      padding-right: 5%;

     }
     .carousel-content img{
       padding-top: 4%;
      padding-left: 10%;
      padding-bottom: 5%;
      width: 100%;
      height: 100%;
       
     }
    .content-testimoni{
      margin-top: 20%;
      padding-top: 3%;
      padding-bottom: 3%;
      
    }
    .content-testimoni h1{
     font-size: 30px;
     
    }
    .testimoni-content {
    padding-top: 18%;
     }
    .testimoni-content h1{
      padding-top: 2%; 
      color: white;
      margin-bottom: 1%;
      margin-bottom: -50px;
      
     }

     .tentangkami{
      min-height: 1200px;
      padding-top: 60px;
      
    }
    
    .tentangkami h1{
      color: white;
      font-weight: bold;
      
    }
    .tentangkami h4, h5{
      color: white;
      font-weight: bold;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .tentangkami p{
      color: white;
      
      text-align: left;
      
      
    }
    
   
    .tentangkami .aboutus{
    width: 100%;
    height:65%;
    margin-right: 1%;
    float: none;
    
    }

    .join .text{
      padding-bottom: 6%;
      text-align: center;
      
      }

      .join img{
        padding-left: 5%;
      }
  }
@media (min-width: 456px) {
  .join .text{
    padding-bottom: 6%;
    text-align: center;
    
    }

    .join img{
      padding-left: 5%;
    }
    .tab-content-produk1{
        margin-left: -0%;

      }
      .tab-content-produk1 li{
        margin-bottom: 5em;
      }
      .tab-content-produk1 p{
        margin-right: 35%;
      }
      .tab-content-botol {
    margin-top: -15%;
    }
    .tab-content-produk2{
       margin-top: 10%;
    }
    .tab-content-produk2 li{
       margin-bottom: 5em;
    }

    .card-harga{
        margin-bottom: 2em;
    }
      
   .demo-produk iframe{
       width: 100%;
       height: 100%;
   }
   .card-produk .card{
    height: 250px;
}
  }
@media (min-width: 768px) {
    .tab-content-produk1{
        margin-top: 2%;
        

      }
      .tab-content .tab-content-produk1 li{
        margin-bottom: 3em;
        margin-right: -20%;
      
      }
      .tab-content-produk1 .icon-span{
        float: right;
      }
     .tab-content-produk1 .content-produk{
       text-align: right;
       color: white;
     }
      .content-produk p{
      margin-right: 49%;
      margin-left: -25%;
      }
      .content-produk h4{
      margin-left: -15%;
      }
      .tab-content .tab-content-botol img{
          width: 100%;
          height: 90%;
          
    
      }
       .tab-content-botol {
        margin-top: 2%;
        margin-left: 0.5%;
    
      } 
      .tab-content-produk2{
       margin-top: 2%;
      }
      .tab-content-produk2 li{
        margin-bottom: 3em;
      }
      .content-produk2 h4{
        margin-right: -35%;
      }
      .content-produk2 p{
        margin-left: 60%;
        margin-right: -50%;
      }
   
   .demo-produk iframe{
       width: 100%;
       height: 100%;
   }
   .card-produk .card{
    height: 250px;
}
  }
@media (min-width: 768px) {
  .join .text{
    padding-bottom: 6%;
    text-align: left;
    
    }

    .join img{
      padding-left: 5%;
    }
    .tab-content-produk1{
        margin-left: -1%;

      }
      .tab-content-produk1 li{
        margin-bottom: 6em;
      }
      /* .tab-content-produk1 span{
        
      } */
      .tab-content-produk1 h4{
        font-size: 20px;
      }
      .tab-content-produk1 p{
        padding-left: 0%;
      }
      .tab-content-botol img{
          width: 85%;
          height: 50%;
          
    
      }
      /* .tab-content-botol {
        
    
      }
      .tab-content-produk2{
       
      } */
      .tab-content .tab-content-produk2 li{
        margin-bottom: 2.5em;
      }
      .tab-content-produk2 h4{
        font-size: 20px;
        margin-right: -35%;
      }
      .tab-content .tab-content-produk2 p{
        margin-right: -55%;
      }
   
   .demo-produk iframe{
       width: 100%;
       height: 100%;
   }
   .card-produk .card{
    height: 250px;
}
  }
@media (min-width: 1024px) {
  .join .text{
    padding-bottom: 6%;
    text-align: left;
    
    }

    .join img{
      padding-left: 5%;
    }
    .tab-content-produk1{
        margin-top: 2%;
        margin-right: 5%;
        margin-left: -6.5%;
        

      }
      .tab-content .tab-content-produk1 li{
        margin-bottom: 10em;
      }
      /* .tab-content-produk1 span{
        
      } */
      .tab-content-produk1 h4{
        font-size: 20px;
      }
      .tab-content-produk1 p{
        margin-right: 26%;
        margin-left: -20%;
      }

      .tab-content-produk1 .icon-span{
        float: right; 
        color: white;
      }
      .tab-content .tab-content-botol img{
          width: 85%;
          height: 80%;
          
    
      }
      .tab-content-botol {
        margin-top: 2%;
        
        
    
      }
      .tab-content-produk2{
        margin-top: 2%;
        
        
       
      }
      .tab-content .tab-content-produk2 li{
        margin-bottom: 10em;
        margin-left: 20%;
      }
      .tab-content-produk2 h4{
        font-size: 20px;
      }
      .tab-content-produk2 p{
        margin-left: 26%;
       
      }

      .tab-content-manfaat .icon-span3{
        float: left;
        color: white;
        font-size: 30px;
      }

      .content-produk3 p{
        margin-left: 15%;
      }

      .content-botol img{
        width: 70%;
        height: 80%;
      }
      .content-botol {
        margin-top: 4%;
      }

      .content-manfaat{
        text-align: left;
        color: white;
      }

     
     .carousel-content{
      padding-top: 5.8%; 
      width: 1020px;
      margin-left: 0.1%;
      margin-bottom: -1.7%;
       
     }

     .carousel-content img{
       height: 500px;
       
     }
     .testimoni-content {
      padding-top: 6%;
      height: 1500px;
       }

       .testimoni-content h1{ 
        color: white;
         margin-bottom: -200px
       }

       .testimoni-content-page{
        padding-top: 3%;
      }
     
      .testimoni-content-page .content-atas{
        margin-bottom: 23%;
      }

    
   
  } 

  @media (min-width: 1366px) {
    .join .text{
      padding-bottom: 6%;
      text-align: left;
      
      }

      .join img{
        padding-left: 5%;
      }
    .tab-content-produk1{
        margin-top: 2%;
        margin-right: 5%;
        margin-left: -6.5%;
        

      }
      .tab-content .tab-content-produk1 li{
        margin-bottom: 10em;
      }
      /* .tab-content-produk1 span{
        
      } */
      .tab-content-produk1 h4{
        font-size: 20px;
      }
      .tab-content-produk1 p{
        margin-right: 26%;
        margin-left: -20%;
      }

      .tab-content-produk1 .icon-span{
        float: right; 
        color: white;
      }
      .tab-content .tab-content-botol img{
          width: 85%;
          height: 80%;
          
    
      }
      .tab-content-botol {
        margin-top: 2%;
        
        
    
      }
      .tab-content-produk2{
        margin-top: 2%;
        
        
       
      }
      .tab-content .tab-content-produk2 li{
        margin-bottom: 10em;
        margin-left: 20%;
      }
      .tab-content-produk2 h4{
        font-size: 20px;
      }
      .tab-content-produk2 p{
        margin-left: 26%;
       
      }

      .tab-content-manfaat .icon-span3{
        float: left;
        color: white;
        font-size: 30px;
      }

      .content-produk3 p{
        margin-left: 15%;
      }

      .content-botol img{
        width: 70%;
        height: 80%;
      }
      .content-botol {
        margin-top: 4%;
      }

      .content-manfaat{
        text-align: left;
        color: white;
      }

     
     .carousel-content{
      padding-top: 5.8%; 
    
       
     }
     .carousel-content .text{

      text-align: left;
      padding-left: 5%;
      
       
     }
     .carousel-content-legalitas .row{
   
      padding: 11%;
     
    }

    
     .carousel-content img{
         
      width: 75%;
      
      
       
     }
    

     .carousel-content .image{
        padding-top: -2%;
      width: 75%;
      
       
     }

     .carousel-content p{
      padding-left: 0%; 
      
      
       
     }
     
     .testimoni-content {
      padding-top: 2%;
       }

      .testimoni-content h1{
        
        
        margin-bottom: -295px
        
       }

       .testimoni-content-page{
        padding-top: 2%;
      }
     
      .testimoni-content-page .content-atas{
        margin-bottom: -23%;
      }
       .tentangkami{
        min-height: 1000px;
        padding-top: 20px;
        
      }
      
      .tentangkami h1{
        color: white;
        font-weight: bold;
        
      }
      .tentangkami h4, h5{
        color: white;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
      .tentangkami p{
        color: white;
        
        text-align: left;
        
        
      }
      
      .tentangkami button{
        background-color: rgb(173, 104, 236);
      }
      .tentangkami .aboutus{
      width: 30%;
      height: 40%;
      margin-right: 1%;
      float: left;
      
      }

      .content-berita .content{
        padding-top: 10%;
      }

      

       

    
   
  } 

  .carousel-caption {
    bottom: 90px; }
  
  .carousel-indicators li {
    width: 70px;
    height: 36px;
    border: 1px solid #222; }
  .carousel-indicators .active {
    border: 1px solid #ff7474; }
  
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .carousel-title {
      font-size: 18px;
      margin-top: 20px; } }